<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Template</title>
</head>
<body>
<div id="root">
    <div class="App">
        <div class="ProductsList">
            <div class="Card">
                <div class="CardImage"></div>
                <div class="CardTitle">GE - 6.7 Cu. Ft. Slide-In Double Oven Gas Convection Range - Stainless steel</div>
                <div class="CardPrice">$2,699.99</div>
                <div class="CardDescription">Handle any cooking task with this 30-inch GE Profile gas range. Its double convection ovens provide efficiency and faster preheating for everyday cooking and for preparing large dishes, and its cooktop has a reversible grill and griddle for added versatility. Simmer delicate dishes with the 5,000 BTU burner of this GE Profile gas range.</div>
            </div>
            <div class="Card">
                <div class="CardImage"></div>
                <div class="CardTitle">GE - 6.7 Cu. Ft. Slide-In Double Oven Gas Convection Range - Stainless steel</div>
                <div class="CardPrice">$2,699.99</div>
                <div class="CardDescription">Handle any cooking task with this 30-inch GE Profile gas range. Its double convection ovens provide efficiency and faster preheating for everyday cooking and for preparing large dishes, and its cooktop has a reversible grill and griddle for added versatility. Simmer delicate dishes with the 5,000 BTU burner of this GE Profile gas range.</div>
            </div>
            <div class="Card">
                <div class="CardImage"></div>
                <div class="CardTitle">GE - 6.7 Cu. Ft. Slide-In Double Oven Gas Convection Range - Stainless steel</div>
                <div class="CardPrice">$2,699.99</div>
                <div class="CardDescription">Handle any cooking task with this 30-inch GE Profile gas range. Its double convection ovens provide efficiency and faster preheating for everyday cooking and for preparing large dishes, and its cooktop has a reversible grill and griddle for added versatility. Simmer delicate dishes with the 5,000 BTU burner of this GE Profile gas range.</div>
            </div>
            <div class="Card">
                <div class="CardImage"></div>
                <div class="CardTitle">GE - 6.7 Cu. Ft. Slide-In Double Oven Gas Convection Range - Stainless steel</div>
                <div class="CardPrice">$2,699.99</div>
                <div class="CardDescription">Handle any cooking task with this 30-inch GE Profile gas range. Its double convection ovens provide efficiency and faster preheating for everyday cooking and for preparing large dishes, and its cooktop has a reversible grill and griddle for added versatility. Simmer delicate dishes with the 5,000 BTU burner of this GE Profile gas range.</div>
            </div>
            <div class="Card">
                <div class="CardImage"></div>
                <div class="CardTitle">GE - 6.7 Cu. Ft. Slide-In Double Oven Gas Convection Range - Stainless steel</div>
                <div class="CardPrice">$2,699.99</div>
                <div class="CardDescription">Handle any cooking task with this 30-inch GE Profile gas range. Its double convection ovens provide efficiency and faster preheating for everyday cooking and for preparing large dishes, and its cooktop has a reversible grill and griddle for added versatility. Simmer delicate dishes with the 5,000 BTU burner of this GE Profile gas range.</div>
            </div>
        </div>
    </div>
</div>
<link rel="stylesheet" href="theme.css">
</body>
</html>